In [1]:
import zoo 
zoo.hours()

Open 9-5 Daily

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 Daily

In [3]:

import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')
db.commit()

In [4]:
db.commit()

In [15]:
import sqlalchemy
from sqlalchemy import text

conn = sqlalchemy.create_engine('sqlite:///books.dp')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

AttributeError: 'Engine' object has no attribute 'execute'